body {
  text-align: center;
  background-color: #fffde3;
}

#level-title {
  font-family: 'Oxygen',
    sans-serif;
  font-size: 5vw;
  margin: 3%;
  color: #435158;




}




.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 20%;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(90, 84, 84);
}

.game-over {
  background-color: rgb(255, 223, 253);
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 151, 151);
}

.green {
  background-color: rgb(149, 255, 149);
}

.blue {
  background-color: rgb(143, 143, 250);
  margin-left: 80px;
}

.yellow {
  background-color: rgb(255, 255, 142);
  margin-right: 80px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.btn:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;


  opacity: 0.7;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.start {

  background-color: rgb(255, 225, 160);

  font-family: 'Oxygen',
    sans-serif;

  color: #435158;

  margin: auto;
  margin-top: 3%;
  height: 50px;
  width: 200px;

  border-radius: 10%;
  box-shadow: 5px 10px 18px rgb(90, 84, 84);
}

.start:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;


  opacity: 0.7;
}

.sta {


  margin-top: 0%;
}


@media (max-width: 600px) {
  .btn {
    margin: 25px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
  }

}